{% extends 'app_dubhack/base.html' %}
{% block content %}

<h1>Predicted Classes</h1>

<h2>Winter 2017 Schedule</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Number</th>
                <th>Credit Hour</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CSE</td>
                    <td>312</td>
                    <td>5</td>
                </tr>
            <tr>
                <td>CSE</td>
                <td>351</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
    </div>
<h2>Spring 2017 Schedule</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Number</th>
                <th>Credit Hour</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CSE</td>
                    <td>311</td>
                    <td>5</td>
                </tr>
            <tr>
                <td>CSE</td>
                <td>332</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}