{% extends "app_dubhack/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="col-md-8 col-md-offset-4">
    <h1>Registering for classes <small>just got easier.</small></h1>

    <div class="form-group">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <hr>
            <button class="btn btn-primary" type="submit" value="login" >SUBMIT</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        
    </div>
</div>





{% endblock %}